.anyCard{
    background: cyan;
    display: flex;
    flex-direction:column;
    width: 70vw;
    padding:10px 20px 10px 20px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 40px;
}
.oneClass{
    display: flex;
    justify-content: space-between;
}
.twoClass{
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 600px) {
    .oneClass{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
@media (max-width: 500px) {
    .anyCard{
        font-size: 10px;
    }

}

.boldFont{
    font-weight: 650;
    margin-right: 10px;
}