.outerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background: #f5f5f5;
}
.innerBox{
    height: 35vh;
    background: #3c415e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.innerBox form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.innerBox form button{
    display: inline-block;
    color:white;
    background: green;
    height: 90px;
    border-radius:5px;
    border: 2px solid grey;
}
/* form{
    height: 35vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */