.outerBox{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-image: url("../../assets/images/C1.jpg");
    background-attachment: fixed;
    background-position: center; 
    
}
.innerBox{
    height: 250px;
    background: #3c415e;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.innerBox form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.innerBox form button{
    display: inline-block;
    color:white;
    background: green;
    height: 90px;
    border-radius:5px;
    border: 2px solid grey;
}
.navabar{
    background: #2b2c40;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    color: cyan;
    font-weight: 500;
    font-size: 20px;
    height:50px;
  }
/* form{
    height: 35vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */