.indvItems{
    width: 300px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2b2c40;
    color: #2b2c40;
    padding: 4px;
    margin: 5px;
    font-size: 20px;
}
.indvItems:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(133, 133, 212);
}
@media (max-width: 600px) {
    .indvItems{
        width:60vw;
        margin:10px 0px 10px 0px ;
    }

}